/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-box {
  padding: 3rem 0;
}

.info-box img {
  width: 100px;
}

.info-box__temp,
.info-box__city {
  font-size: 2rem;
}

.info-box__temp {
  font-size: 4rem;
}
p {
  margin: 0;
}

.social-info p,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.weather-images {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.details-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  font-size: 0.8rem;
  background-color: rgb(82, 82, 131);
  color: #fff;
  border-radius: 14px;
  padding: 15px 0;
}

.weather-app__desc {
  margin-top: 6rem;
  color: #fff;
}

.weather-app__desc a {
  color: rgb(0, 149, 255);
}

/* ================= Media Query =================== */

@media screen and (min-width: 769px) {
  .details-weather {
    width: 60%;
    margin: 0 auto;
  }
}
